.header {
  padding-top: $global-gutter;
  padding-bottom: $global-gutter;
  @include mq($from: desktop) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $global-gutter;
    padding-right: $global-gutter;
  }
}

.header__container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;

  @include mq($from: desktop) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }
}
