.about {
  padding-top: $global-gutter;
  padding-bottom: $global-gutter;
  text-align: center;
  // max-width: 750px;
  // margin-left: auto;
  // margin-right: auto;
  // text-align: center;
  @include mq($from: desktop) {
    padding-top: $global-gutter * 2;
    padding-bottom: $global-gutter * 2;
  }
}

.about__container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $global-gutter;
  padding-right: $global-gutter;
}

.about__title {
  font-size: 44px;
  margin-bottom: $global-gutter;
}

.about__content {
  font-size: 22px;
  margin-bottom: $global-gutter;
}

.about__items {
  @include mq($from: desktop) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.about__item {
  margin-bottom: $global-gutter;
  @include mq($from: desktop) {
    width: 32%;
    margin-bottom: 0;
  }
}

.about__item__title {
  margin-bottom: $global-gutter;
  text-align: left;
  font-size: 26px;
}

.about__item__copy {
  text-align: left;
}
