.newsletter__mask {
  background-color: $color-bg-input;
  border-radius: $global-radius;
  padding: 3px;
  @include clearfix();
}

.newsletter__field {
  background-color: transparent;
  border-width: 0;
}

.newsletter__button {
  float: right;
}

@include placeholder {
  color: $color-white;
}
