.hero {
  background-color: $color-bg;
  position: relative;
}

.hero__slider__item {
  position: relative;
}

.hero__content {
  text-align: center;
  padding: $global-gutter;
  padding-bottom: $global-gutter * 2;

  @include mq($from: desktop) {
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

.hero__content__inner {

  @include mq($from: desktop) {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__media {
  // margin-bottom: $global-gutter;

  // @include mq($from: desktop) {
  //   margin-bottom: 0;
  // }
}

.hero__title {
  font-size: 36px;

  @include mq($from: desktop) {
    color: $color-white;
    font-size: 78px;
  }
}

.hero__copy {
  font-size: 18px;
  margin-bottom: $global-gutter;
  color: $color-secondary;

  @include mq($from: desktop) {
    font-size: 24px;
    padding-left: $global-gutter * 4;
    padding-right: $global-gutter * 4;
  }
}

.hero__slider__controls {
  display: none;

  @include mq($from: desktop) {
    opacity: 0.01;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: $global-gutter;
    padding-right: $global-gutter;
  }

  /* SHow controls on rollover */
  .hero:focus &,
  .hero:hover & {
    opacity: 1;
  }
}

.hero__slider__nav {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  text-align: center;

  @include mq($from: desktop) {
    opacity: 0.01;

    .hero:focus &,
    .hero:hover & {
      opacity: 1;
    }
  }
}

.hero__slider__nav__inner {
  background-color: $color-white;
  display: inline-block;
  border-radius: $global-radius;
  padding: $global-gutter / 2;
  line-height: 1;

  button {
    border-radius: 50%;
    background-color: $color-branding;
  }

  .tns-nav-active {
    background-color: $color-action;
  }
}
