button,
a.button,
input[type="submit"] {
  display: inline-block;
  background-color: $color-action;
  color: $color-white;
  border-width: 0;
  text-transform: uppercase;
  padding: 10px;
  border-radius: $global-radius;
  font-family: $font-primary;
  font-weight: 700;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    background-color: darken($color-action, 3%);
  }
}

/* Modifiers */

.button {

  /* Large */

  &.button--lg {
    width: 295px;
    height: 65px;
    padding: 0;
    line-height: 63px;
  }

}
