.career {
  padding-top: $global-gutter;
  padding-bottom: $global-gutter;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include mq($from: desktop) {
    padding-top: $global-gutter * 2;
    padding-bottom: $global-gutter * 2;
  }
}

.career__title {
  font-size: 44px;
  margin-bottom: $global-gutter;
}

.career__content {
  font-size: 22px;
  margin-bottom: $global-gutter;
}
