.work {
  background-color: $color-bg;
  padding-top: $global-gutter;
  padding-bottom: $global-gutter;
  text-align: center;
  // max-width: 750px;
  // margin-left: auto;
  // margin-right: auto;
  // text-align: center;
  @include mq($from: desktop) {
    padding-top: $global-gutter * 2;
    padding-bottom: $global-gutter * 2;
  }
}

.work__container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $global-gutter;
  padding-right: $global-gutter;
}

.work__title {
  font-size: 44px;
  margin-bottom: $global-gutter;
}

.work__content {
  font-size: 22px;
  margin-bottom: $global-gutter;
}
