.site-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;

  @include mq($from: desktop) {
    text-align: left;
  }
}

.site-title__media {
  width: 155px;
  height: 39px;
  fill: $color-branding;
}
