.footer {
  background-color: $color-branding-dark;
}

.footer__top {
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer__widget {
  margin-bottom: $global-gutter;
  color: $color-secondary;

  &:last-child {
    margin-bottom: 0;
  }

  p, ul, ol {
    margin-bottom: 20px;
    font-size: 14px;
  }

  a {
    font-size: 14px;
    color: $color-secondary;
  }

  @include mq($from: desktop) {
    width: 24%;
  }
}

.footer__widget__title {
  margin-bottom: 25px;
  color: $color-white;
  text-transform: uppercase;
  font-size: 16px;
}

.footer__bottom {
  padding-top: $global-gutter;
  padding-bottom: $global-gutter;
  background-color: $color-branding-darker;
}

.footer__copy {
  color: $color-text-third;
  font-size: 14px;
  text-align: center;

  @include mq($from: desktop) {
    text-align: left;
  }
}

.footer__container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $global-gutter;
  padding-right: $global-gutter;

  @include mq($from: desktop) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
