.navigation {
  margin-bottom: $global-gutter;

  @include mq($from: desktop) {
    margin-bottom: 0;
  }

  li {
    font-weight: 700;
    text-transform: uppercase;

    @include mq($from: desktop) {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include mq($from: desktop) {
    li {
      display: inline-block;
    }
  }
}

.navigation a {
  color: $color-branding;
  display: block;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  padding: $global-gutter /2;
  border-bottom: 1px solid $color-secondary;

  @include mq($from: desktop) {
    padding: 0;
    border-bottom-width: 0;
  }
}

.navigation--footer {
  display: none;

  a {
    color: $color-text-third;
  }

  li {
    font-weight: 400;
    text-transform: none;
  }

  @include mq($from: desktop) {
    display: block;
  }
}
