/* Default */
$color-black: #000;
$color-white: #fff;

/* Branding */
$color-branding: #506a85;
$color-branding-dark: #2f4052;
$color-branding-darker: #283645;
$color-action: #00bc9c;
$color-secondary: #a3b1bf;
$color-bg: #f2f5f7;
$color-bg-input: #4e5c6c;

/* Text */
$color-text: #73879c;
$color-text-third: #707e8c;
$color-link: $color-branding;
