$global-gutter: 30px;

$mq-breakpoints: (
  desktop: 1024px,
);

// Mixin to quickly apply accessible hiding to elements.
@mixin hidden-visually() {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

// Placeholder
@mixin placeholder {
  ::-webkit-input-placeholder {@content};
  :-moz-placeholder {@content};
  ::-moz-placeholder {@content};
  :-ms-input-placeholder {@content};
}

@mixin clearfix() {
  &:after {
    content: "" !important;
    display: block !important;
    clear: both !important;
  }
}

%layout-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
