$global-baseline : 6px !default;
$global-spacing-unit-factor : 4 !default; // 24px

$global-spacing-unit : $global-baseline * $global-spacing-unit-factor !default;

// Base typographical styles.

$global-font-size : 16px !default;
$global-line-height : $global-spacing-unit !default;

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;
